
@import url('https://fonts.googleapis.com/css?family=Raleway:wght@300;400;500;600;700&display=swap');
body{
    margin:0;
    padding: 0;
}
.css-xke5cp {
    box-sizing: border-box;
margin: 0;
min-width: 0;
top: 0;
z-index: 30;
position: sticky;
background-color: var(--theme-ui-colors-background);
transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
box-shadow: rgb(0 0 0 / 10%) 0px 8px 14px 0px;

}
body {font-family:'Nutino',sans-serif;margin: 0;padding: 0;}

.css-9cu60s {
box-sizing: border-box;
margin: 0;
min-width: 0;
max-width: 100%;
margin: 0 auto;
padding-top: 0;
padding-bottom: 0;
padding-left: 22px;
padding-right: 22px;
}
@media screen and (min-width: 1250px){
.css-xke5cp {
display: block;
}}

.css-vynlyb {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
top: 0px;
z-index: 30;
position: sticky;
background-color: var(--theme-ui-colors-background);
transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
box-shadow: rgb(0 0 0 / 10%) 0px 8px 14px 0px;
display: none;
}
@media screen and (min-width: 1250px){

.css-vynlyb {
display: block;
}}
.css-buknqo {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
justify-content: space-between;
padding-top: 20px;
padding-bottom: 20px;
}
.css-4cffwv {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.css-1jo8b5c {
box-sizing: border-box;
margin: 0;
min-width: 0;

display: flex;

-webkit-box-align: center;

align-items: center;
margin-left: 20px;
white-space: nowrap;

}
.css-13r6lp9 {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
z-index: 1;
position: absolute;
inset: 0px auto auto 0px;
transform: translate(1318px, 85px);
}
.css-ykwscm {
box-sizing: border-box;
margin: 0;
min-width: 0;

display: flex;

-webkit-box-align: center;

align-items: center;
}
a {
font-family: "Raleway";
}
a:-webkit-any-link {
color: -webkit-link;
cursor: pointer;
text-decoration: none;
color:#000;


}

body {
-webkit-font-smoothing: antialiased;
}

.css-3xrkf9 {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
z-index: 1;
position: absolute;
inset: 0px auto auto 0px;
transform: translate(771px, 85px);
}
div {
display: block;
}
.css-1n5xfwo {
box-sizing: border-box;
margin: 0;
min-width: 0;

display: flex;

-webkit-box-align: center;

align-items: center;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}
.css-a3tcpr {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
z-index: 1;
position: absolute;
inset: 0px auto auto 0px;
transform: translate(658px, 85px);
}
.css-1n5xfwo {
box-sizing: border-box;
margin: 0;
min-width: 0;


display: flex;

-webkit-box-align: center;

align-items: center;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}
.css-1gkiexl:hover{
color: var(--theme-ui-colors-primary);
    text-decoration: none;
}
.css-1gkiexl {
box-sizing: border-box;
margin: 0;
min-width: 0;



color: inherit;

text-decoration: none;
font-size: 16px;
font-family: "Raleway";
height: 100%;

display: flex;

-webkit-box-align: center;

align-items: center;

transition: color .2s cubic-bezier(0.215, 0.61, 0.355, 1);
cursor: pointer;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}
.css-hslo1v {
box-sizing: border-box;
margin: 0;
min-width: 0;
color: inherit;

text-decoration: none;
font-size: 16px;
font-family: "Raleway";
height: 100%;

display: flex;

-webkit-box-align: center;

align-items: center;

transition: color .2s cubic-bezier(0.215, 0.61, 0.355, 1);
cursor: pointer;
}
.css-hslo1v:hover {
color: var(--theme-ui-colors-primary);
-webkit-text-decoration: none;
text-decoration: none;
}
.css-1n5xfwo {
box-sizing: border-box;
margin: 0;
min-width: 0;

display: flex;

-webkit-box-align: center;

align-items: center;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}
.css-aj69nt {
box-sizing: border-box;
margin: 0;
min-width: 0;

width: 100%;
height: 100%;
bottom: 0;
display: none;
}
element.style {
position: absolute;
left: 0px;
transform: translate(0px, 0px);
}
.css-1jnz00m {
box-sizing: border-box;
margin: 0;

display: flex;

-webkit-box-align: center;

align-items: center;
-webkit-box-pack: end;


justify-content: flex-end;
height: 100%;
width: 40px;
min-width: 30px;

flex: 1;
}
.css-nm1046 {
width: 20px;
height: 20px;
cursor: pointer;
}

.css-551bsn {
box-sizing: border-box;
margin: 0;
min-width: 0;

width: 100%;
height: 100%;
bottom: 0;
display: none;
}

.css-10u26w2 {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
z-index: 1;
position: absolute;
inset: 0px auto auto 0px;
transform: translate(432px, 85px);
}
.css-z27npt {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
z-index: 1;
position: absolute;
inset: 0px auto auto 0px;
transform: translate(193px, 85px);
}
.css-1ypw19h {

display: flex;

-webkit-box-align: center;

align-items: center;

text-decoration: none;
margin-right: 20px;
}

.css-xke5cp {
box-sizing: border-box;
margin: 0;
min-width: 0;
top: 0;
z-index: 30;

position: sticky;
background-color: var(--theme-ui-colors-background);

transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
@media screen and (min-width: 1250px){
.css-xke5cp {
display: block;
}}
@media screen and (min-width: 40em){
.css-9cu60s {
padding-left: 80px;
padding-right: 80px;
}}
@media screen and (min-width: 1250px){
.css-xke5cp {
display: block;
}}
html {
font-family: "Raleway";
line-height: 1.5;
font-weight: 300;
font-size: 16px;
}
.css-1teal8m {
-webkit-text-decoration: none;
text-decoration: none;
}


.css-vurnku {
box-sizing: border-box;
margin: 0;
min-width: 0;
}
.css-eobdd1 {
box-sizing: border-box;
margin: 0;
min-width: 0;

display: flex;
-webkit-box-pack: center;

justify-content: center;

-webkit-box-align: center;

align-items: center;
}
.css-1m5gmbu {
box-sizing: border-box;
margin: 0;
min-width: 0;
color: var(--theme-ui-colors-primary);
font-family: "Raleway";
-webkit-text-decoration: underline;
text-decoration: underline;
-webkit-transition: .2s color;
transition: .2s color;
color: inherit;
-webkit-text-decoration: none;
text-decoration: none;
font-size: 16px;

height: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-transition: color .2s cubic-bezier(0.215, 0.61, 0.355, 1);
transition: color .2s cubic-bezier(0.215, 0.61, 0.355, 1);
cursor: pointer;
}
html {
--theme-ui-colors-text: #000;
--theme-ui-colors-background: #fff;
--theme-ui-colors-primary: #107EFF;
--theme-ui-colors-secondary: #185AD2;
--theme-ui-colors-muted: #F5F5F5;
--theme-ui-colors-textSecondary: #fff;
--theme-ui-colors-textMuted: #939393;
--theme-ui-colors-textMedium: #48514c;
--theme-ui-colors-textMediumLight: #636363;
--theme-ui-colors-marketing: #33cc99;
--theme-ui-colors-advertising: #d149a6;
--theme-ui-colors-research: #ecad00;
--theme-ui-colors-ai: #6d7278;
--theme-ui-colors-care: #8c43ff;
--theme-ui-colors-engagement: #2ea2fb;
--theme-ui-colors-cornflowerBlue: #7097eb;
--theme-ui-colors-star: #f7b500;
--theme-ui-colors-grey: #6d7278;
--theme-ui-colors-softBorder: #e6e9f9;
--theme-ui-colors-pageType: #9B9B9B;
--theme-ui-colors-caption: #9B9B9B;
--theme-ui-colors-lightGrey: #DBDBDB;
--theme-ui-colors-darkGrey: #646470;
--theme-ui-colors-formFieldGrey: #F1F1F1;
--theme-ui-colors-error: #FF6060;
--theme-ui-colors-spaceGrey: #2E3841;
--theme-ui-colors-skyBlue: #00BAE9;
color: var(--theme-ui-colors-text);
background-color: var(--theme-ui-colors-background);
}
.css-i4747m {
box-sizing: border-box;
margin: 0;
min-width: 0;
background-color: var(--theme-ui-colors-background);
position: -webkit-sticky;
position: sticky;
top: 0;
width: 100%;
-webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
z-index: 30;
display: block;
}
.css-1ybfly7 {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
justify-content: space-between;
padding: 16px;
height: 66px;
box-shadow: rgb(0 0 0 / 10%) 0px 8px 14px 0px;
}
@media screen and (orientation: landscape) and (max-height: 415px){
.css-1ybfly7 {
height: 62px;
}
}
@media screen and (min-width: 40em){
.css-1ybfly7 {
padding: 30px 80px;
height: 100%;
}}
.css-17v5ij5 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-text-decoration: none;
text-decoration: none;
}
.css-ykwscm {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.css-mok6ss {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
width: 100%;
flex-direction: column;
position: absolute;
background-color: var(--theme-ui-colors-background);
padding-top: 0px;
padding-bottom: 0px;
z-index: 2;
height: 336px;
top: 66px;
}
.css-vurnku {
box-sizing: border-box;
margin: 0;
min-width: 0;
}
.css-b2conh {
box-sizing: border-box;
margin: 0px 16px;
min-width: 0px;
display: flex;
padding-top: 12px;
padding-bottom: 12px;
border-width: 1px 0px 0px;
border-image: initial;
border-style: solid;
border-color: rgb(199, 199, 199);
position: absolute;
bottom: 0px;
width: calc(100% - 32px);
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
position:relative;

}
.css-1l29scg {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
padding-top: 30px;
height: 245px;
overflow: auto;
}

.css-5cmrld {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
width: 100%;
flex-direction: column;
position: absolute;
background-color: var(--theme-ui-colors-background);
padding-top: 0px;
padding-bottom: 0px;
z-index: 2;
height: 297px;
top: 66px;
}
@media screen and (min-width: 40em){

.css-5cmrld {
padding-top: 40px;
padding-bottom: 54px;
}}
@media screen and (min-width: 52em){

.css-5cmrld {
padding-bottom: 58px;
}}
.css-1nlg4i0 {
font-family: "Raleway";
line-height: 1.6em;
padding: 0px;
color: var(--theme-ui-colors-text);
text-decoration: none;
font-size: 18px;
font-weight: 500;
margin: 0px;
}
* {
box-sizing: border-box;
}
.css-nu9c5e {
box-sizing: border-box;
margin: 0;
min-width: 0;
margin-right: 22px;
}

.css-139yr75 {
background: none;
color: #fff;
border: none;
padding: 5px 14px 3px;
font: inherit;
cursor: pointer;
outline: inherit;
box-sizing: border-box;
line-height: 24px;
font-family: "Raleway";
text-transform: uppercase;
background-color: var(--theme-ui-colors-primary);
-webkit-transition: .2s background,.2s border-color;
transition: .2s background,.2s border-color;
font-size: 12px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
border-radius: 50px;
letter-spacing: 0.4px;
}
.css-eobdd1 {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.css-7rph2s {
background: none;
color: inherit;
border: none;
padding: 0px;
font: inherit;
cursor: pointer;
outline: inherit;
box-sizing: border-box;
line-height: 24px;
font-family: "Raleway";
text-transform: uppercase;
}
.css-z73p9t {
box-sizing: border-box;
margin: 0;
min-width: 0;

display: flex;
width: 30px;
height: 30px;
-webkit-box-pack: end;
-ms-flex-pack: end;
-webkit-justify-content: flex-end;
justify-content: flex-end;
cursor: pointer;
}
svg:not(:root) {
overflow: hidden;
}
.css-1uddjes {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
width: 100%;
flex-direction: column;
position: absolute;
background-color: var(--theme-ui-colors-background);
padding-top: 0px;
padding-bottom: 0px;
z-index: 2;
height: 300px;
top: 66px;
}
.css-1wemo81 {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
padding-top: 30px;
height: 248px;
overflow: auto;
}
.css-1r3gwx0 {
box-sizing: border-box;
min-width: 0px;
flex-direction: column;
margin: 0px;
padding: 16px;
-webkit-box-pack: center;
justify-content: center;
display: flex;

}

.css-g9s7bz {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
padding: 16px;
-webkit-box-align: center;
align-items: center;
}
.css-1q0a0qf {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
color: var(--theme-ui-colors-primary);
font-family: "Raleway";
transition: color 0.2s ease 0s;
cursor: pointer;
text-decoration: none;
}
.css-p8if6b {
color: var(--theme-ui-colors-text);
font-family: "Raleway";
line-height: 24px;
font-weight: 500;
font-size: 20px;
padding: 0px;
margin: 0px;
}
h4 {
display: block;
margin-block-start: 1.33em;
margin-block-end: 1.33em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}
.css-1r3gwx0 .accordion-item-title-container {
cursor: pointer;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
}
.css-1r3gwx0 .accordion-item-title-container h4 {
margin: 0px;
}


.css-1asxcpg {
color: var(--theme-ui-colors-text);
font-family: "Raleway";
line-height: 24px;
font-weight: 500;
font-size: 20px;
padding: 0px;
margin: 0px 0px 16px;
}
.css-1oz7jp7 {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
width: 20px;
height: 20px;
}
.css-1w890it {
box-sizing: border-box;
margin: 12px 0px 0px;
min-width: 0px;
}
.css-zlc80m {
font-family: "Raleway";
color: var(--theme-ui-colors-text);
text-decoration: none;

}
a .css-zlc80m .css-11p8ahm:hover{
background-color:rgb(214, 214, 214) ;
}
.css-16uc5xu {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
cursor: pointer;
height: 56px;
-webkit-box-align: center;
align-items: center;
}

.css-g9s7bz {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
padding: 16px;
-webkit-box-align: center;
align-items: center;
}
@media screen and (min-width: 40em){

.css-g9s7bz {
padding: 16px 80px;
}}
.css-1q0a0qf {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
color: var(--theme-ui-colors-primary);
font-family: "Raleway";
transition: color 0.2s ease 0s;
cursor: pointer;
text-decoration: none;
}
.css-p8if6b {
color: var(--theme-ui-colors-text);
font-family: "Raleway";
line-height: 24px;
font-weight: 500;
font-size: 20px;
padding: 0px;
margin: 0px;
}
.css-1asxcpg {
color: var(--theme-ui-colors-text);
font-family: "Raleway";
line-height: 24px;
font-weight: 500;
font-size: 20px;
padding: 0px;
margin: 0px 0px 16px;
}
.css-1oz7jp7 {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
width: 20px;
height: 20px;
}
.css-1w890it {
box-sizing: border-box;
margin: 12px 0px 0px;
min-width: 0px;
}
.css-zlc80m {
font-family: "Raleway";
color: var(--theme-ui-colors-text);
text-decoration: none;
}
.css-16uc5xu {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
cursor: pointer;
height: 56px;
-webkit-box-align: center;
align-items: center;
}
@media screen and (min-width: 1200px){
.css-1ybfly7 {
   display: none;

    
}
}
@media screen and (max-width: 1200px){
.css-9cu60s{
    display: none;
}
}





.css-4b57uq {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
transition: color 0.2s ease 0s;
font-family: "Raleway";
color: var(--theme-ui-colors-text);
text-decoration: none;
font-size: 18px;
font-weight: 500;
}
.css-ykwscm {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

.css-1w1ww8s {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
padding-top: 30px;
overflow: auto;
}

.css-mok6ss {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
width: 100%;
flex-direction: column;
position: absolute;
background-color: var(--theme-ui-colors-background);
padding-top: 0px;
padding-bottom: 0px;
z-index: 2;
height: 336px;
top: 66px;
}
@media screen and (min-width: 52em){

.css-mok6ss {
padding-bottom: 58px;
}}

@media screen and (min-width: 40em){

.css-mok6ss {
padding-top: 40px;
padding-bottom: 54px;
}}



@media screen and (min-width: 40em){

.css-1r3gwx0 {
padding: 16px 80px;
}}


.css-1r3gwx0 {
box-sizing: border-box;
min-width: 0px;
flex-direction: column;
margin: 0px;
padding: 16px;
-webkit-box-pack: center;
justify-content: center;
display: flex;
}
.css-ykwscm {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
svg:not(:root) {
overflow: hidden;
}
.css-1r3gwx0 {
box-sizing: border-box;
min-width: 0px;
flex-direction: column;
margin: 0px;

-webkit-box-pack: center;
justify-content: center;
display: flex;
}
.css-1wssvvt {
box-sizing: border-box;
margin: 0px auto;
min-width: 0px;
flex-direction: column;
-webkit-box-align: center;
align-items: center;
position: relative;
max-width: 100%;
display: flex;
}
.css-1r3gwx0 .accordion-item-title-container h4 {
margin: 0px;
}
@media screen and (min-width: 40em){

.css-1nlg4i0 {
font-size: 18px;
}
}
.css-1nlg4i0 {
font-family: "Raleway";
line-height: 1.6em;
padding: 0px;
color: var(--theme-ui-colors-text);
text-decoration: none;
font-size: 18px;
font-weight: 500;
margin: 0px;
}
.css-aid2fa {
width: 14px;
height: 14px;
transform: inherit;
margin-left: 16px;
}
.css-1u39qkp {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
padding-top: 30px;
height: 268px;
overflow: auto;
}
.css-1ji4uoz {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
padding-top: 30px;
height: 160px;
overflow: auto;
}
@media screen and (min-width: 40em){

.css-1p59y6e {
padding-top: 40px;
padding-bottom: 54px;
}}
html {
font-family: "Raleway";
line-height: 1.5;
font-weight: 300;
font-size: 16px;
}
@media screen and (min-width: 40em){

.css-1r3gwx0 {
padding: 16px 80px;
}
.css-g9s7bz {
padding: 16px 80px;
}}
@media screen and (min-width: 40em){
.css-9cu60s {
padding-left: 80px;
padding-right: 80px;
}
}

.css-7rph2s {
background: none;
color: inherit;
border: none;
padding: 0px;
font: inherit;
cursor: pointer;
outline: inherit;
box-sizing: border-box;
line-height: 24px;
font-family: "Raleway";
text-transform: uppercase;
}

.css-4cffwv {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.css-1j5u7x4 {
background: none;
color: #fff;
border: none;
padding: 5px 14px 3px;
font: inherit;
cursor: pointer;
outline: inherit;
box-sizing: border-box;
line-height: 24px;
font-family: "Raleway";
text-transform: uppercase;
background-color: var(--theme-ui-colors-primary);
-webkit-transition: .2s background,.2s border-color;
transition: .2s background,.2s border-color;
font-size: 12px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
border-radius: 50px;
letter-spacing: 0.4px;
position: relative;
top: 2px;

}
@media screen and (min-width: 64em){
.css-1j5u7x4 {
line-height: 24px;
}}
@media screen and (min-width: 52em){
.css-1j5u7x4 {
line-height: 24px;
}}
@media screen and (min-width: 40em){
.css-1j5u7x4 {
padding: 6px 20px;
line-height: 24px;
}}
* {
box-sizing: border-box;
}

button {
appearance: auto;
-webkit-writing-mode: horizontal-tb !important;
text-rendering: auto;
color: -internal-light-dark(black, white);
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: center;
align-items: flex-start;
cursor: default;
background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
box-sizing: border-box;
margin: 0em;
font: 400 13.3333px Arial;
padding: 1px 6px;
border-width: 2px;
border-style: outset;
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-image: initial;
}
.css-eobdd1 {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

a {
font-family: "Raleway";
}
button {
appearance: auto;
-webkit-writting-mode: horizontal-tb !important;
text-rendering: auto;
color: -internal-light-dark(black, white);
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: center;
align-items: flex-start;
cursor: default;
background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
box-sizing: border-box;
margin: 0em;
font: 400 13.3333px Arial;
padding: 1px 6px;
border-width: 2px;
border-style: outset;
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-image: initial;
}
.css-q3678j {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
position: absolute;
width: 300px;
padding-top: 12px;
padding-bottom: 12px;
border-radius: 15px;
background-color: var(--theme-ui-colors-background);
top: -10px;
bottom: inherit;
left: -50px;
box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px;
}
.css-vurnku {
box-sizing: border-box;
margin: 0;
min-width: 0;
}
.css-zlc80m {
font-family: "Raleway";
color: var(--theme-ui-colors-text);
text-decoration: none;
}


.css-u6sc03 {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
z-index: 1;
position: absolute;
inset: 0px auto auto 0px;
transform: translate3d(calc(100% + 185px), 85px, 0px);
}

element.style {
position: absolute;
left: 0px;
transform: translate3d(0px, 0px, 0px);
}
.css-1v2bo5p {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
position: absolute;
width: 100%;
height: 100%;
bottom: 0px;

}
element.style {
position: absolute;
left: 0px;
transform: translate3d(0px, 0px, 0px);
}
.css-1v2bo5p::after {
content: "";
background-color: var(--theme-ui-colors-background);
box-shadow: rgb(181 181 181 / 10%) -1px -1px 1px;
position: absolute;
top: -20px;
bottom: inherit;
left: -10px;
transform: rotate(
45deg
);
width: 20px;
height: 20px;

}



.css-11p8ahm {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
cursor: pointer;
height: 56px;
-webkit-box-align: center;
align-items: center;
padding-left: 32px;
padding-right: 32px;
transition: all 0.2s ease 0s;
}
.css-vurnku {
box-sizing: border-box;
margin: 0;
min-width: 0;
}

.css-dbziqx {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
z-index: 1;
position: absolute;
inset: 0px auto auto 0px;
transform: translate3d(calc(100% + 376px), 75px, 0px);
}
.css-551bsn {
box-sizing: border-box;
margin: 0;
min-width: 0;
position: absolute;
width: 100%;
height: 100%;
bottom: 0;
display: none;
}
#cc{
font-family:"Raleway";
line-height: 15px;
font-weight: 700;
font-size: 16px;
}

.css-1mq75vk {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
position: relative;
padding: 22px;
background-position: center center;
background-size: cover;
background-image: url("https://images.ctfassets.net/ukazlt65o6hl/6oyNcamc7MQO1bGAEbkBya/ff889909d3c80018d5620bca104eb138/forrester-banner.png?w=2880&h=334&q=50&fm=png");
background-color: rgb(8, 120, 152);
}
@media screen and (min-width: 64em){

.css-1mq75vk {
padding: 24px 0px;
}}

@media screen and (min-width: 40em){

.css-1mq75vk {
padding-left: 80px;
padding-right: 80px;
}}

.css-1wssvvt {
box-sizing: border-box;
margin: 0px auto;
min-width: 0px;
flex-direction: column;
-webkit-box-align: center;
align-items: center;
position: relative;
max-width: 100%;
display: flex;
}

.css-anp6mv {
box-sizing: border-box;
margin: 0px 0px 4px;
min-width: 0px;
font-family: "Raleway";
line-height: 1.5;
color: rgb(255, 255, 255);
font-weight: 700;
font-size: 18px;
text-align: center;
}
.css-anp6mv {
box-sizing: border-box;
margin: 0px 0px 4px;
min-width: 0px;
font-family:"Raleway";
line-height: 1.5;
color: rgb(255, 255, 255);
font-weight: 700;
font-size: 18px;
text-align: center;
}
.css-1nt4aby {
box-sizing: border-box;
margin: 0px;
min-width: 0px;
flex-direction: column;
-webkit-box-align: center;
align-items: center;
padding-top: 16px;
display: flex;
}
@media screen and (min-width: 40em){

.css-1nt4aby {
flex-direction: row;
}}

.css-cpecdf {
background: none rgb(255, 255, 255);
color: rgb(0, 0, 0);
border: none;
padding: 5px 14px 3px;
font-style: inherit;
font-variant: inherit;
font-weight: inherit;
font-stretch: inherit;
cursor: pointer;
outline: inherit;
box-sizing: border-box;
line-height: 24px;
font-family: "Raleway";
text-transform: uppercase;
transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
font-size: 12px;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
border-radius: 50px;
letter-spacing: 0.4px;
}
@media screen and (min-width: 64em){

.css-cpecdf {
line-height: 24px;
}}
@media screen and (min-width: 52em){

.css-cpecdf {
line-height: 24px;
}}
@media screen and (min-width: 40em){

.css-cpecdf {
padding: 6px 20px;
line-height: 24px;
}}
.css-eobdd1 {
box-sizing: border-box;
margin: 0;
min-width: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
#js{
color:white;
}


.d-table {width: 100%;height: 100%;display: table;}
.d-tablecell {display: table-cell;vertical-align: middle;}
.custom-btn1 {background-color: transparent;border: 1px solid white;display: inline-block;padding: 12px 30px;text-transform: uppercase;border-radius: 30px;text-decoration: none;}
.custom-btn1:hover {background-color: orange;text-decoration: none;color: #fff;}
/*
Hero slider style
==========================*/
.hero-slider {position: relative;}
.single-hs-item {height:86vh;background-size: cover;background-position: center center;position: relative;}
.single-hs-item:before {content: '';position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0, 0, 0, 0.59);
    opacity: .5;}
.item-bg1 {
background-image: url("IMG_20210902_202903.jpg");
}
.item-bg2 {
background-image: url("IMG_20210902_202853.jpg");
}
.item-bg3 {
background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b8/IIT_Madras_Research_Park.jpg");
}
.hero-text {padding: 0 15px;text-align: center;max-width: 1140px;margin-left: auto;margin-right: auto;position: relative;}
.hero-text h1 {color: #fff;font-size: 70px;text-transform: capitalize;font-weight: 600;margin: 0;}
.hero-text p {color: #fff;font-size: 17px;max-width: 600px;margin-left: auto;margin-right: auto;line-height: 30px;margin-top: 20px;margin-bottom: 35px;}
.hero-slider .owl-item.active h1 {-animation: 1s .3s fadeInUp both;}
.hero-slider .owl-item.active p {-webkit-animation: 1s .3s fadeInUp both;animation: 1s .3s fadeInUp both;}
.hero-slider .owl-item.active .slider-btn {-webkit-animation: 1s .3s fadeInUp both;animation: 1s .3s fadeInUp both;}
.owl-carousel .owl-nav button.owl-prev {background-color:transparent;position: absolute;left: 0;top: 50%;
color: #fff;font-size: 30px;margin: -40px 0 0;border-radius: 0;height: 50px;width: 50px;}
.owl-carousel .owl-nav button.owl-next {background-color: transparent;position: absolute;right: 0;top: 50%;color: #fff;font-size: 30px;margin: -40px 0 0;border-radius: 0;height: 50px;width: 50px;
}
.owl-theme .owl-nav {margin-top: 0;}
.owl-dots {position: absolute;left: 0;right: 0; bottom: 20px;}
.owl-theme .owl-dots .owl-dot span {width: 11px;height: 20px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: white;}

@media only screen and (max-width: 600px) {
.single-hs-item {
    height: 550px;
}
.hero-text h1 {
    font-size: 30px;
    

}

.hero-text p {
    font-size: 15px;
    margin-bottom: 25px;
}
.owl-carousel .owl-nav button.owl-next {
    top: auto;
    margin: 0;
    bottom: 0px;
}
.owl-carousel .owl-nav button.owl-prev {
    top: auto;
    margin: 0;
    bottom: 0px;
}
.owl-dots {
    bottom: 10px;
    left: 50px;
    right: 50px;
}
}
#cnd{
    
    font-family: "Raleway";
    
  font-weight: 700;
}
.video-container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap ;
    justify-content: space-evenly;
  }


  element.style {
    background-image: url(images/bg2.jpg);
}
[data-bg-image] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
section {
    padding: 80px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    background-color: #ffffff;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
body {
    font-size: 1rem;
    line-height: 1.65714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
    color: #484848;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-size: 88%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
 

[data-bg-image] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


*, ::after, ::before {
    box-sizing: border-box;
}
[data-bg-image].bg-loaded::before {
    opacity: 0;
}

[data-bg-image]::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #181818;
    transition: opacity .5s linear;
}
*, ::after, ::before {
    box-sizing: border-box;
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}}

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 720px;
}}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}
@media (min-width: 992px){
.container {
    max-width: 960px;
}}
@media (min-width: 768px){
.container {
    max-width: 720px;
}}
@media (min-width: 576px){
.container {
    max-width: 540px;
}}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading-text {
    margin-bottom: 30px;
}

.text-light, .text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6, .text-light .lead, .text-light p, .text-light a:not(.btn), .text-light a:not(.btn):hover:not(.btn-light), .text-light i, .text-light li, .text-light label, .text-light div:not(.alert), .text-light span:not(.btn-label) {
    color: #fff !important;
}
.text-light {
    color: #f8f9fa!important;
}
.heading-text.heading-section.text-center h1:before, .heading-text.heading-section.text-center h2:before, .heading-text.heading-section.text-center h3:before, .heading-text.heading-section.text-center h4:before, .heading-text.heading-section.text-center h5:before, .heading-text.heading-section.text-center h6:before {
    margin: 0 auto;
}

.heading-text.heading-section h2:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #2250fc;
    bottom: -30px;
    left: 0;
    right: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

element.style {
    margin: 0px -40px -40px 0px;
    position: relative;
    height: 1704.69px;
}
.grid-layout, .portfolioo, .posts {
    position: relative;
    display: block;
    clear: both;
    padding: 0;
}
.grid-layout {
    overflow: hidden;
    margin-bottom: -2px !important;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heading-text.heading-section h2 {
    position: relative;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 60px;
}

.text-center {
    text-align: center;
}
.heading-text.heading-section h2 {
    position: relative;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 60px;
    font-weight: 400;
}
@media (max-width: 1200px){
    .heading-text.heading-section h2 {
        position: relative;
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 60px;
        font-weight: 400;
    } 
}

.heading-text.heading-section h2:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color:var(--primary);
    bottom: -30px;
    left: 0;
    right: 0;
}



/*    verticals    */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
@media (min-width: 768px){
.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.marketing h2 {
    font-weight: 400;
}

@media (min-width: 62em){
.featurette-heading {
    margin-top: 7rem;
}}
@media (min-width: 40em){
.featurette-heading {
    font-size: 50px;
}}
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
@media (min-width: 1200px){
.h2, h2 {
    font-size: 2rem;
}}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d!important;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
@media (min-width: 768px){
.col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}}

@media (min-width: 768px){
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}


body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
